@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>TRIVIA CRACK</h1>
    <h2>Trivia Crack: El Juego de Preguntas y Respuestas que Desafía tu Conocimiento</h2>
    <p>"Trivia Crack" es un emocionante juego de preguntas y respuestas que pone a prueba el conocimiento de los jugadores en una amplia gama de temas. Inspirado en el estilo de juegos como "Preguntados", Trivia Crack se ha convertido en una opción popular entre aquellos que buscan un desafío intelectual y diversión al mismo tiempo. Disponible en dispositivos móviles, este juego invita a los jugadores a competir entre sí en categorías como Historia, Ciencia, Geografía, Entretenimiento, Deportes y Arte.
El objetivo de "Trivia Crack" es sencillo: responder correctamente a las preguntas para obtener personajes que representan cada categoría. El primer jugador en recolectar todos los personajes gana la partida. Además, el juego ofrece diferentes modos, como el modo "Duelo" donde los jugadores pueden enfrentarse directamente para demostrar quién sabe más.
Una de las características más atractivas de Trivia Crack es la capacidad de crear tus propias preguntas y desafiar a otros jugadores. Esto no solo enriquece la experiencia de juego, sino que también permite una interacción dinámica entre los participantes. Con un diseño colorido y una interfaz intuitiva, "Trivia Crack" ofrece horas de entretenimiento tanto para adultos como para niños. 
Ya sea que estés compitiendo con amigos o enfrentándote a rivales de todo el mundo, "Trivia Crack" es el juego ideal para aquellos que disfrutan de un desafío mental y quieren aprender algo nuevo cada día.</p>
    <a href='@Url.Action("ConfigurarJuego", "Home")' class="btn btn-outline-success Jugar">¡JUGÁ AHORA!</a>
</div>
