@{
    ViewData["Title"] = "Fin";
}
@if(ViewBag.MensajeFinal == "FINAL DEL JUEGO"){
    <h2>@ViewBag.MensajeFinal</h2>
}
<div class="mostrarPunt">
<h5>Usuario:@ViewBag.Usuario</h5>
 <h4>Tu puntaje:@ViewBag.PuntajeActual</h4>
 </div>
