@{
    ViewData["Title"] = "Respuesta";
}
<div class="ContenedorRespuesta">
    <div class="EsCorrecta">
        <h1>@ViewBag.Mensaje</h1>
        @if(ViewBag.RespuestaCorrecta!=null){
            <p>@ViewBag.RespuestaCorrecta</p>
        }
    </div>
    <a href='@Url.Action("Jugar", "Home")'><button class="btn btn-primary">Siguiente</button></a>
</div>