@{
    ViewData["Title"] = "Respuesta";
}
<div class="ContenedorRespuesta">
    <div class="EsCorrecta">
        <h1>@ViewBag.Mensaje</h1>
        @if(ViewBag.RespuestaCorrecta!=null){
            <p>@ViewBag.RespuestaCorrecta</p>
        }
    </div>
    
<button onclick="window.location.href='@Url.Action("Jugar","Home")'" class="btn btn-primary siguiente">Siguiente</button>
<button onclick="window.location.href='@Url.Action("Finn", "Home")'" class="btn btn-primary terminarJuego">Terminar juego</button>