@{
    ViewData["Title"] = "Tutorial";
}
<div class="EsCorrecta">
<p>Trivia Crack es un divertido juego de preguntas y respuestas en el que pones a prueba tus conocimientos en distintas áreas. El objetivo del juego es contestar correctamente el mayor número de preguntas para ganar puntos y conseguir coronas, que representan los personajes de cada categoría. A continuación, te explico cómo jugar:Inicio del Juego: Al iniciar una partida, recibirás una pregunta de forma aleatoria. Las preguntas pueden ser de varias categorías: Historia, Ciencia, Deportes, Geografía, Entretenimiento y Arte. No sabrás de qué tema será la pregunta hasta que la veas, por lo que debes estar preparado para cualquier categoría.Responde Preguntas: Cada pregunta tiene cuatro opciones de respuesta, pero solo una es correcta. Tendrás un tiempo limitado para elegir la opción adecuada. Si aciertas, ganarás puntos y avanzarás en el juego.</p>
</div>